html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@font-face {
    font-family: Arabella;
    src: url("fonts/Arabella.ttf");
}
@font-face {
    font-family: MPLUSRounded1c-Bold;
    src: url("fonts/MPLUSRounded1c-Bold.ttf");
}
@font-face {
    font-family: MPLUSRounded1c;
    src: url("fonts/MPLUSRounded1c-Regular.ttf");
}


body {
    background: rgb(255,242,242);
    background-image: url("pictures/Bg-leaf-small.png");
    background-repeat: no-repeat;
}
.go-back {
    position: absolute;
    margin: 20px 10px 0px 33px;
}
header {
    text-align: center;
    font-family: Arabella;
    font-weight: 500;
    font-size: 53px;
    line-height: 64px;
    margin-bottom: 30px;
}
section {
    background: #B6E3D3;
    width: 80%;
    height: 558px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    padding-bottom:25px;
    font-family: Gabriela;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}
.picture {
    width: 230px;
    height: 330px;
}
section>div>img {
    margin-bottom: 45px;
}
.leaf {
    width: 1268px;
    height: 855px;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    transition: top 200ms;
}
.rotate-btn-up {
    transform: rotate(-90deg);
}
.rotate-btn-down {
    transform: rotate(90deg);
    background-color: rgba(74, 170, 165,0);
    border: none;
    margin: 5px;
}

@media (min-width: 2475px) {
    .rotate-btn-up, .rotate-btn-down {
        visibility: hidden;
    }
}
button {
    outline: none;
}
.button-center {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.button-style {
    text-decoration: none;
    text-align: center;
    padding: 9px 22px;
    border: solid 3px #4aaaa5;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 30px;
    font-weight: 500;
    font: 24px MPLUSRounded1c, sans-serif;
    line-height: 36px;
    color: #000000;
    background: #7accc8;
    -webkit-box-shadow: 0 3px 10px #6c6c6c, inset 0 0 1px #ffffff;
    -moz-box-shadow: 0 3px 10px #6c6c6c, inset 0 0 1px #ffffff;
    box-shadow: 0 4px 10px #6c6c6c, inset 0 0 1px #ffffff;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
.button-style-tablet {
    width: 135px;
    height: 43px;
    padding: 0;
}
.sing-up{
    margin: 40px 0 10px 0;
}
.p-tablet{
    font-size: 18px;
    line-height: 28px;
}
section>div>button {
    background-color: rgba(74, 170, 165,0);
    border: none;
}
.btn-next-certificate-down {
    margin-top: -44px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 6;
}
@media (min-width: 220px) and (max-width: 700px) {
    header {
          font-size: 43px;
          line-height: 35px;
          margin-bottom: 24px;
          margin-top: 20px;
      }
    .go-back {
        width: 40px;
        margin: 0 0 0 20px;
    }
}
@media (min-width: 220px) and (max-width: 500px) {
    .go-back {
        margin: 0;
    }
}
